html
{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #ecf0f1;
}

textarea:focus, input:focu
{
    outline: none;
}

::-webkit-input-placeholder
{
  color: rgba(30, 30, 30, 0.4);
  font-style: italic;

}

a, a:link, a:visited, a:active, a:hover {border:0!important; text-decoration: none!important;}

input
{
  text-indent: 10px;
  font-family: geo;
  color: rgba(30, 30, 30, 0.8);
}

input:focus
{
  outline: none;
}

#search_bar_bundle
{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 120px;
}

#logo
{
  top: 15px;
  float: left;
  left: -20px;
  position: absolute;
  width: 220px;
  height: 80px;
  cursor: url(../IMAGE/cursor_magic.cur), auto;
}

#search_bar
{
  z-index: 30;
  top: 40px;
  margin-right: 10px;
  float: right;
  border: none;
  position: relative;
  width: 600px;
  height: 40px;
  background-color: #ecf0f1;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(30, 30, 30, 0.2) inset;
}

#search_icon
{
  top: 40px;
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: #2ecc71;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 1px 5px rgba(30, 30, 30, 0.2);
  transition: background-color 0.3s;
}

#menu_span_txt
{
    text-decoration: none;
    position: relative;
    top: 10px;
    font-size: 1.2em;
    color: rgba(236, 240, 241, 0.6);
    text-shadow: 1px 1px 2px rgba(236, 240, 241, 0.4);
    margin-left: 30px;
}

#menu_span_active
{
    text-decoration: none;
    position: relative;
    top: 10px;
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px 2px rgba(236, 240, 241, 0.4);
    margin-left: 30px;
}

#menu_span_txt:hover
{
  color: rgba(46, 204, 113,1.0);
}

#search_icon:hover
{
  background-color: rgba(180, 180, 180, 0.9);
}

#menu_bar
{
  width: 100%;
  height: 50px;
  background-color: rgba(30, 30, 30, 1);
}

#selector
{
  position: absolute;
  left: -10px;
  width: 0px;
  height: 100%;
  border-left: 5px solid rgba(46, 204, 113,1.0);
}

.icon_menu
{
  right: -20px;
  float: right;
  position: relative;
  margin-right: 20px;
  height: 80%;
  width: 4%;
  margin-top: 5px;
  z-index: 50;
  cursor: url(../IMAGE/cursor.cur), auto;
}

#home_icon
{
  height: 80%;
  width: 3%;
  float: left;
  margin-top: 5px;

}

#menu_container
{
  height: 100%;
  position: relative;
  margin: auto;
  width: 1000px;
}

#profil_menu
{
  padding-top: 15px;
  position: absolute;
  float: right;
  height: 0px;
  width: 200px;
  margin-top: 23px;
  right: 56px;
  background-color: white;
  border-top: rgba(46, 204, 113,1.0);
  z-index: 16;
  text-align: center;
  font-family: geo;
  visibility: hidden;
  opacity: 0;
  font-size: 1.5em;
  box-shadow: 0px 1px 3px rgba(189, 195, 199, 0.9);
  transition: opacity 0.5s, height 0.4s, visibility 0.5s;
}

#div_profil_menu
{
  color: rgba(30, 30, 30, 0.6);
  width: 100%;
  height: 34px;
}

#div_profil_menu:hover
{
  cursor: url(../IMAGE/cursor.cur), auto;
  color: rgba(30, 30, 30, 1);
}

#header
{
  position: relative;
  top: 0px;
  height: 170px;
  width: 100%;
  z-index: 12;
  background-color: white;
}

#container
{
  position: relative;
  /*top: 170px;*/
  height: 450px;
  width: 100%;
  background-color: rgb(35,35,35);
  overflow: hidden;
  z-index: 10;
}

#image_slider
{
  top: 0px;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 9;
  opacity: 0.2;
}

#register, #login
{
  position: absolute;
  top: 200px;
  width: 600px;
  z-index: 15;
  left: 30%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.5s;
}

#content_page
{
  border-top: 5px solid #2ecc71;
  z-index: 10;
  position: relative;
  margin: auto;
  /*top: 620px;*/
  height: auto;
  padding-bottom: 50px;
  width: 1000px;
  box-shadow: 0px 0px 15px rgba(30, 30, 30, 0.6);
}

#background
{
  top: 400px;
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
}

.film_find
{
  font-family: geo;
  font-size: 1.6em;
  position: relative;
  top: 5px;
  left: 10px;
}

.film_container
{
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px dotted rgba(30,30,30,0.4);
  left: 15px;
  width: 970px;
  height: 300px;
}

.title
{
  position: absolute;
  left: 210px;
  color: rgba(46, 204, 113,1.0);
  font-family: geo;
  font-size: 3em;
  text-shadow: 1px 1px 2px rgba(30, 30, 30, 0.3)
}

.poster
{
  position: absolute;
  top: 10px;
  height: 270px;
  width: 192px;
  box-shadow: 3px 3px 10px rgba(30, 30, 30, 1.0);
  overflow: hidden;
}

.poster_scale
{
  height: 270px;
  width: 192px;
}

.plot
{
  position: absolute;
  left: 210px;
  top: 100px;
  color: rgba(30, 30, 30, 1);
  font-family: geo;
  font-size: 1em;
}

.actors
{
  position: absolute;
  left: 210px;
  top: 180px;
  color: rgba(30, 30, 30, 1);
  font-family: geo;
  font-size: 1em;
  font-style: italic;
}

.rea
{
  position: absolute;
  left: 210px;
  top: 200px;
  color: rgba(46, 204, 113,1.0);
  font-family: geo;
  font-size: 1em;
  font-style: italic;
}

.year
{
  position: absolute;
  left: 210px;
  bottom: 5px;
  color: rgba(30, 30, 30, 1);
  font-family: geo;
  font-size: 2.5em;
}

.time
{
  position: absolute;
  right: 10px;
  bottom: 8px;
  color: rgba(39, 174, 96,1.0);
  font-family: geo;
  font-size: 2em;
  font-style: italic;
}


.genre
{
  position: absolute;
  left: 310px;
  bottom: 10px;
  color: rgba(30, 30, 30, 1);
  font-family: geo;
  font-size: 1.5em;
  font-style: italic;
}

.div_stream
{
  margin-bottom: 50px;
  width: 800px;
  height: 600px;
  position: relative;
  top: 10px;
  left: 10px;
  overflow: hidden;
}

.home_div_title
{
  border-bottom: 2px solid rgb(30,30,30);
  font-family: geo;
  font-size: 3em;
  margin-bottom: 25px;
  width: 100%;
  height: 65px;
  position: relative;
}

.home_div_title_bold
{
  color: #2ecc71;
  font-style: bold;
  font-size: 0.9em
}

.categorie_header
{
  border-bottom: 1px solid rgb(30,30,30);
  font-family: geo;
  font-size: 2em;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  position: relative;
}

.categorie_header_view
{
  border-bottom: 1px solid rgb(30,30,30);
  font-family: geo;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  position: relative;
}

.categorie_header_view_name
{
  color: rgb(30,30,30);
  font-size: 2em;
  float: left;
}

.categorie_header_view_view
{
  color: #7f8c8d;
  font-size: 1em;
  float: right;
  position: relative;
  top: 15px;
}

.suggest_film
{
  border-bottom: 1px dotted rgba(30,30,30,0.6);
  font-family: geo;
  font-size: 1.1em;
  width: 100%;
  min-height: 28px; 
  height: auto;
  position: relative;
  transition: color 0.5s, font-size 0.5s;
}

.suggest_film2
{
  color: rgb(30,30,30);
  border-bottom: 1px dotted rgba(30,30,30,0.6);
  font-family: geo;
  font-size: 1.1em;
  width: 100%;
  min-height: 28px; 
  height: auto;
  position: relative;
  transition: color 0.5s, font-size 0.5s;
}

.suggest_film2:hover
{
  color: #2ecc71;
}

.suggest_film_name
{
  font-size: 1.1em;
  float: left;
  width: 220px;
  min-height: 28px; 
  height: auto;
  overflow: hidden;
}

.suggest_film_view
{
  color: #7f8c8d;
  font-size: 0.9em;
  float: right;
  position: relative;
  top: 2px;
}

#real_poster
{
  width: 100%;
  height: 100%;
}

.suggest_film:hover
{
  color: #2ecc71;
  font-size: 1.2em;
}

.categorie_film
{
  display: inline-block;
  width: 255px;
  height: auto;
  position: relative;
  float: left;
}

.categorie_serie
{
  display: inline-block;
  width: 255px;
  height: auto;
  margin-left: 17.5px;
  position: relative;
}

.categorie_anim
{
  display: inline-block;
  width: 255px;
  height: auto;
  position: relative;
  float: right;
}

#search_space
{
  background-color: none;
  top: 20px;
  margin-bottom: 20px;
  position: relative;
  margin: auto;
  width: 1000px;
  height: 140px;
  border-right: 4px solid rgba(46, 204, 113,1.0);
  border-left: 4px solid rgba(46, 204, 113,1.0);
  box-shadow: 0px 0px 20px rgba(30,30,30,0.6) inset;
}

#submit_filter
{
  color: rgba(46, 204, 113,1.0);
  position: absolute;
  bottom: 20px;
  right: 20px;
  outline: none;
  text-decoration: none;
  box-shadow: 1px 1px 2px rgba(30,30,30,0.5);
  border: none;
  font-family: geo;
  background-color: rgba(30,30,30,0.8);
  width: 160px;
  height: 30px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: color 0.3s, background-color 0.3s;
}

#submit_filter:hover
{
  color: rgb(30,30,30);
  background-color: rgba(46, 204, 113,1.0);
  box-shadow: 1px 1px 3px rgba(39, 174, 96,1.0) inset;
}

.select
{
  position: relative;
  margin-left: 20px;
  top: 15px;
  border-radius: none;
  font-family: geo;
  text-indent: 5px;
  width: 200px;
  height: 40px;
  border: 2px solid rgba(30,30,30,0.4);
}

.select:hover, .select:focus, .select:active
{
  outline: none;
  border: 2px solid rgba(30,30,30,1);
}

.select_search
{
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: none;
  font-family: geo;
  text-indent: 5px;
  width: 400px;
  height: 40px;
  border: 2px solid rgba(30,30,30,0.4);
  background-color: white;
}

.select_search:hover, .select_search:focus, .select_search:active
{
  font-size: 1.2em;
  outline: none;
  border: 2px solid rgba(30,30,30,1);
}