html
{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #ecf0f1;
}

textarea:focus, input:focu
{
    outline: none;
}

::-webkit-input-placeholder
{
  color: rgba(30, 30, 30, 0.4);
  font-style: italic;

}

a, a:link, a:visited, a:active, a:hover {border:0!important; text-decoration: none!important;}

input
{
  text-indent: 10px;
  font-family: geo;
  color: rgba(30, 30, 30, 0.8);
}

input:focus
{
  outline: none;
}

#search_bar_bundle
{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 120px;
}

#logo
{
  top: 15px;
  float: left;
  left: -20px;
  position: absolute;
  width: 220px;
  height: 80px;
}

#search_bar
{
  z-index: 30;
  top: 40px;
  margin-right: 10px;
  float: right;
  border: none;
  position: relative;
  width: 600px;
  height: 40px;
  background-color: #ecf0f1;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(30, 30, 30, 0.2) inset;
}

#search_icon
{
  top: 40px;
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: #2ecc71;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 1px 5px rgba(30, 30, 30, 0.2);
  transition: background-color 0.3s;
}

#menu_span_txt
{
    text-decoration: none;
    position: relative;
    top: 10px;
    font-size: 1.2em;
    color: rgba(236, 240, 241, 0.6);
    text-shadow: 1px 1px 2px rgba(236, 240, 241, 0.4);
    margin-left: 30px;
}

#menu_span_active
{
    text-decoration: none;
    position: relative;
    top: 10px;
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px 2px rgba(236, 240, 241, 0.4);
    margin-left: 30px;
}

#menu_span_txt:hover
{
  color: rgba(46, 204, 113,1.0);
}

#search_icon:hover
{
  background-color: rgba(180, 180, 180, 0.9);
}

#menu_bar
{
  width: 100%;
  height: 50px;
  background-color: rgba(30, 30, 30, 1);
}

#selector
{
  position: absolute;
  left: -10px;
  width: 0px;
  height: 100%;
  border-left: 5px solid rgba(46, 204, 113,1.0);
}

.icon_menu
{
  right: -20px;
  float: right;
  position: relative;
  margin-right: 20px;
  height: 80%;
  width: 4%;
  margin-top: 5px;
  z-index: 50;
  cursor: e-resize;
}

#home_icon
{
  height: 80%;
  width: 3%;
  float: left;
  margin-top: 5px;

}

#menu_container
{
  height: 100%;
  position: relative;
  margin: auto;
  width: 1000px;
}

#profil_menu
{
  padding-top: 15px;
  position: relative;
  float: right;
  width: 200px;
  height: 300px;
  margin-top: 50px;
  left: 63px;
  background-color: white;
  border-top: rgba(46, 204, 113,1.0);
  z-index: 16;
  text-align: center;
  font-family: geo;
  display: none;
  opacity: 0;
  font-size: 1.5em;
  box-shadow: 0px 1px 3px rgba(189, 195, 199, 0.9);
  transition: opacity 0.4s, height: 0.4s;
}

#div_profil_menu
{
  color: rgba(30, 30, 30, 0.6);
  width: 100%;
  height: 34px;
}

#div_profil_menu:hover
{
  cursor: s-resize;
  color: rgba(30, 30, 30, 1);
}

#header
{
  position: absolute;
  top: 0px;
  height: 170px;
  width: 100%;
  z-index: 12;
  background-color: white;
}

#container
{
  position: absolute;
  top: 170px;
  height: 450px;
  width: 100%;
  background-color: rgb(35,35,35);
  overflow: hidden;
  z-index: 10;
}

#image_slider
{
  top: 0px;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 9;
  opacity: 0.2;
}

#register, #login
{
  position: relative;
  top: -300px;
  width: 600px;
  z-index: 15;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}

#content_page
{
  border-top: 5px solid #2ecc71;
  z-index: 10;
  position: relative;
  margin: auto;
  top: 620px;
  height: 1200px;
  width: 1000px;
  box-shadow: 0px 0px 15px rgba(30, 30, 30, 0.6);
}

#background
{
  top: 400px;
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
}
