html
{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #ecf0f1;
}

textarea:focus, input:focus
{
    outline: none;
    text-indent: 10px;
}

::-webkit-input-placeholder
{
  color: rgba(30, 30, 30, 0.4);
  font-style: italic;
  text-indent: 10px;
}

a, a:link, a:visited, a:active, a:hover {border:0!important; text-decoration: none!important;}

input
{
  font-family: geo;
  color: rgba(30, 30, 30, 0.8);
}


#search_bar_bundle
{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 120px;
}

#logo
{
  top: 15px;
  float: left;
  left: -20px;
  position: absolute;
  width: 220px;
  height: 80px;
  cursor: url(../IMAGE/cursor_magic.cur), auto;
}

#search_bar
{
  z-index: 30;
  top: 40px;
  margin-right: 10px;
  float: right;
  border: none;
  position: relative;
  width: 600px;
  height: 40px;
  background-color: #ecf0f1;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(30, 30, 30, 0.2) inset;
}

#search_icon
{
  top: 40px;
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: #2ecc71;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 1px 5px rgba(30, 30, 30, 0.2);
  transition: background-color 0.3s;
}

.menu_span_txt
{
    text-decoration: none;
    position: relative;
    top: 10px;
    font-size: 1.2em;
    color: rgba(236, 240, 241, 0.6);
    text-shadow: 1px 1px 2px rgba(236, 240, 241, 0.4);
    margin-left: 30px;
}

.menu_span_active
{
    text-decoration: none;
    position: relative;
    top: 10px;
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px 2px rgba(236, 240, 241, 0.4);
    margin-left: 30px;
}

.menu_span_txt:hover
{
  color: rgba(46, 204, 113,1.0);
}

#search_icon:hover
{
  background-color: rgba(180, 180, 180, 0.9);
}

#menu_bar
{
  width: 100%;
  height: 50px;
  background-color: rgba(30, 30, 30, 1);
}

.icon_menu
{
  right: -20px;
  float: right;
  position: relative;
  margin-right: 20px;
  height: 80%;
  width: 4%;
  margin-top: 5px;
  z-index: 50;
  cursor: url(../IMAGE/cursor.cur), auto;
}

#home_icon
{
  height: 80%;
  width: 3%;
  float: left;
  margin-top: 5px;

}

#menu_container
{
  height: 100%;
  position: relative;
  margin: auto;
  width: 1000px;
}

#profil_menu
{
  padding-top: 15px;
  position: absolute;
  padding-bottom: 15px;
  float: right;
  top: -200px;
  height: auto;
  width: 200px;
  margin-top: 50px;
  right: 56px;
  background-color: white;
  border-top: rgba(46, 204, 113,1.0);
  z-index: 16;
  text-align: center;
  font-family: geo;
  visibility: hidden;
  opacity: 0;
  font-size: 1.5em;
  box-shadow: 0px 0px 8px rgba(50,50,50,0.7) inset, 1px 1px 2px rgba(0,0,0,0.5);
  transition: opacity 1s, top 0.4s, visibility 1s;
}

#div_profil_menu
{
  color: rgba(30, 30, 30, 0.6);
  width: 100%;
  height: 34px;
}

#div_profil_menu:hover
{
  cursor: url(../IMAGE/cursor.cur), auto;
  color: rgba(30, 30, 30, 1);
}

#header
{
  position: relative;
  top: 0px;
  height: 170px;
  width: 100%;
  z-index: 12;
  background-color: white;
}

#container
{
  position: relative;
  /*top: 170px;*/
  height: 450px;
  width: 100%;
  background-color: rgb(35,35,35);
  overflow: hidden;
  z-index: 10;
}

#image_slider
{
  top: 0px;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 9;
  opacity: 0.4;
}

#register
{
  position: absolute;
  top: 200px;
  width: 600px;
  z-index: 15;
  left: 30%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.5s;
}

#login
{
  position: absolute;
  top: 200px;
  width: 600px;
  z-index: 15;
  left: 30%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.5s;
}

#oops_login
{
  position: relative;
  margin: auto;
  top: 350px;
  height: 300px;
  width: 600px;
  z-index: 15;
}

#content_page
{
  border-top: 5px solid #2ecc71;
  z-index: 10;
  position: relative;
  margin: auto;
  /*top: 620px;*/
  height: auto;
  width: 1000px;
  box-shadow: 0px 0px 15px rgba(30, 30, 30, 0.6);
  overflow: hidden;
}

#background
{
  top: 400px;
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
}

.film_find
{
  font-family: geo;
  font-size: 1.6em;
  position: relative;
  top: 5px;
  left: 10px;
}

.film_container
{
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px dotted rgba(30,30,30,0.4);
  left: 15px;
  width: 970px;
  height: 300px;
}

.title
{
  position: absolute;
  left: 210px;
  color: rgba(46, 204, 113,1.0);
  font-family: geo;
  font-size: 3em;
  text-shadow: 1px 1px 2px rgba(30, 30, 30, 0.3)
}

.poster
{
  position: absolute;
  top: 10px;
  height: 270px;
  width: 192px;
  box-shadow: 3px 3px 10px rgba(30, 30, 30, 1.0);
  overflow: hidden;
}

.poster_scale
{
  height: 270px;
  width: 192px;
}

.plot
{
  position: absolute;
  left: 210px;
  top: 100px;
  color: rgba(30, 30, 30, 1);
  font-family: geo;
  font-size: 1em;
}

.actors
{
  position: absolute;
  left: 210px;
  top: 180px;
  color: rgba(30, 30, 30, 1);
  font-family: geo;
  font-size: 1em;
  font-style: italic;
}

.rea
{
  position: absolute;
  left: 210px;
  top: 200px;
  color: rgba(46, 204, 113,1.0);
  font-family: geo;
  font-size: 1em;
  font-style: italic;
}

.year
{
  position: absolute;
  left: 210px;
  bottom: 5px;
  color: rgba(30, 30, 30, 1);
  font-family: geo;
  font-size: 2.5em;
}

.time
{
  position: absolute;
  right: 10px;
  bottom: 8px;
  color: rgba(39, 174, 96,1.0);
  font-family: geo;
  font-size: 2em;
  font-style: italic;
}


.genre
{
  position: absolute;
  left: 310px;
  bottom: 10px;
  color: rgba(30, 30, 30, 1);
  font-family: geo;
  font-size: 1.5em;
  font-style: italic;
}

.div_stream
{
  margin-bottom: 50px;
  width: 800px;
  height: 600px;
  position: relative;
  top: 10px;
  left: 10px;
  overflow: hidden;
}

.home_div_title
{
  border-bottom: 2px solid rgb(30,30,30);
  font-family: geo;
  font-size: 3em;
  margin-bottom: 25px;
  width: 100%;
  height: 65px;
  position: relative;
}

.home_div_title_bold
{
  color: #2ecc71;
  font-style: bold;
  font-size: 0.9em
}

.categorie_header
{
  border-bottom: 1px solid rgb(30,30,30);
  font-family: geo;
  font-size: 2em;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  position: relative;
}

.categorie_header_view
{
  border-bottom: 1px solid rgb(30,30,30);
  font-family: geo;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  position: relative;
}

.categorie_header_view_name
{
  color: rgb(30,30,30);
  font-size: 2em;
  float: left;
}

.categorie_header_view_view
{
  color: #7f8c8d;
  font-size: 1em;
  float: right;
  position: relative;
  top: 15px;
}

.suggest_film
{
  border-bottom: 1px dotted rgba(30,30,30,0.6);
  font-family: geo;
  font-size: 1.1em;
  width: 100%;
  min-height: 28px; 
  height: auto;
  position: relative;
  transition: color 0.5s, font-size 0.5s;
}

.suggest_film2
{
  color: rgb(30,30,30);
  border-bottom: 1px dotted rgba(30,30,30,0.6);
  font-family: geo;
  font-size: 1.1em;
  width: 100%;
  min-height: 28px; 
  height: auto;
  position: relative;
  transition: color 0.5s, font-size 0.5s;
}

.suggest_film2:hover
{
  color: #2ecc71;
}

.suggest_film_name
{
  font-size: 1.1em;
  float: left;
  width: 220px;
  min-height: 28px; 
  height: auto;
  overflow: hidden;
}

.suggest_film_view
{
  color: #7f8c8d;
  font-size: 0.9em;
  float: right;
  position: relative;
  top: 2px;
}

#real_poster
{
  width: 100%;
  height: 100%;
}

.suggest_film:hover
{
  color: #2ecc71;
  font-size: 1.2em;
}

.categorie_film
{
  display: inline-block;
  width: 255px;
  height: auto;
  position: relative;
  float: left;
}

.categorie_serie
{
  display: inline-block;
  width: 255px;
  height: auto;
  margin-left: 17.5px;
  position: relative;
}

.categorie_anim
{
  display: inline-block;
  width: 255px;
  height: auto;
  position: relative;
  float: right;
}

#search_space
{
  background-color: none;
  top: 20px;
  margin-bottom: 20px;
  position: relative;
  margin: auto;
  width: 1000px;
  height: 140px;
  border-right: 4px solid rgba(46, 204, 113,1.0);
  border-left: 4px solid rgba(46, 204, 113,1.0);
  box-shadow: 0px 0px 20px rgba(30,30,30,0.6) inset;
}

#submit_filter
{
  color: rgba(46, 204, 113,1.0);
  position: absolute;
  bottom: 20px;
  right: 20px;
  outline: none;
  text-decoration: none;
  box-shadow: 1px 1px 2px rgba(30,30,30,0.5);
  border: none;
  font-family: geo;
  background-color: rgba(30,30,30,0.8);
  width: 160px;
  height: 30px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: color 0.3s, background-color 0.3s;
}

#submit_filter:hover
{
  color: rgb(30,30,30);
  background-color: rgba(46, 204, 113,1.0);
  box-shadow: 1px 1px 3px rgba(39, 174, 96,1.0) inset;
}

.select
{
  position: relative;
  margin-left: 20px;
  top: 15px;
  border-radius: none;
  font-family: geo;
  text-indent: 5px;
  width: 200px;
  height: 40px;
  border: 2px solid rgba(30,30,30,0.4);
}

.select:hover, .select:focus, .select:active
{
  outline: none;
  border: 2px solid rgba(30,30,30,1);
}

.select_search
{
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: none;
  font-family: geo;
  text-indent: 5px;
  width: 400px;
  height: 40px;
  border: 2px solid rgba(30,30,30,0.4);
  background-color: white;
}

.select_search:hover, .select_search:focus, .select_search:active
{
  font-size: 1.2em;
  outline: none;
  border: 2px solid rgba(30,30,30,1);
}

.close_cross
{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.close_cross:hover
{
  opacity: 1;
}

#home
{
  float: right;
  position: relative;
  top: -5px;
  right: -5px;
  text-decoration: none;
  color: white;
  font-size: 2em;
  opacity: 0.5;
  transition: opacity 0.3s;
}

#text
{
  font-size: 0.5em;
  font-family: geo;
  opacity: 0;
  transition: opacity 0.3s;
}

#home:hover #text, #home:hover
{
  opacity: 1;
}

.movie_infos
{
  font-family: geo;
  position: relative;
  background-image: url("../IMAGE/stripe.png");
  background-repeat: repeat;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.m_poster
{
  left: 10px;
  top: 10px;
  position: absolute;
  height: 280px;
  width: 200px;
  box-shadow: 1px 1px 2px rgba(30,30,30,0.6);
}

#m_rate
{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 180px;
  height: 210px;
  text-align: center;
}

#note
{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 80%;
  font-size: 6em;
  color: f1c40f;
  text-shadow: 1px 1px 2px rgba(211, 84, 0, 0.7);
  border-radius: 100%;
  background-color: rgba(241, 196, 15, 0.2);
  border: 5px solid rgba(241, 196, 15,1.0);
}

#note_text
{
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 20%;
  color: f1c40f;
  font-size: 1.8em;
  text-shadow: 1px 1px 2px rgba(230, 126, 34,1.0);
}

#m_title
{
  left: 220px;
  font-size: 2.5em;
  top: 0px;
  position: absolute;
}

#m_time
{
  left: 330px;
  font-size: 1.5em;
  bottom: 5px;
  position: absolute;
}

#m_director
{
  left: 220px;
  font-size: 1.8em;
  width: 500px;
  top: 60px;
  position: absolute;
}

#m_actor
{
  left: 220px;
  font-size: 1.7em;
  width: 500px;
  top: 100px;
  position: absolute;
}

#m_year
{
  left: 220px;
  font-size: 2.5em;
  bottom: 0px;
  position: absolute;
}

#rated_stars
{
  font-size: 1.8em;
  text-indent: 2px;
  position: absolute;
  right: 10px;
  top: 180px;
  width: 180px;
  height: 40px;
  color: f1c40f;
  text-shadow: 1px 1px 2px rgba(230, 126, 34,1.0)
}

#more_info
{
  color: rgba(236, 240, 241,1.0);
  font-size: 1.5em;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  right: 0px;
  background-color: rgba(46, 204, 113,1.0);
  width: 180px;
  height: 40px;
  text-indent: 5px;
  right: -138px;
  transition: right 0.3s, opacity 0.3s;
  text-shadow: 1px 1px 1px rgba(44, 62, 80, 0.8);
}

#get_more_info
{
  opacity: 0;
  transition: opacity 0.3s;
}

#more_info:hover, #more_info:hover #get_more_info
{
  right: 0px;
  opacity: 1;
}

#infos_completes
{
  overflow: hidden;
  font-family: geo;
  background-image: url("../IMAGE/stripe.png");
  background-repeat: repeat;
  border-top: 3px dotted rgb(30,30,30);
  position: absolute;
  min-height: 500px;
  padding-bottom: 40px;
  height: auto;
  width: 100%;
  top: 300px;
  border-bottom: 5px solid rgba(46, 204, 113,1.0);
}

#m_plot
{
  text-align: justify;
  left: 20px;
  font-size: 1.5em;
  width: 100%;
  top: 20px;
  width: 100%;
  position: relative;
  padding-right: 40px;
  height: auto;
  overflow: auto;
  max-height: 260px;
  padding-bottom: 10px;
}

#m_genre
{
  display: inline;
  text-align: justify;
  left: 20px;
  font-size: 1.5em;
  width: 100%;
  top: 20px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  padding-right: 40px;
}

#m_writer
{
  text-align: justify;
  left: 20px;
  font-size: 1.5em;
  width: 100%;
  top: 20px;
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding-right: 40px;
}

#m_onlineto
{
  text-align: justify;
  left: 20px;
  font-size: 1.5em;
  width: 100%;
  top: 20px;
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding-right: 40px;
}

#pegi
{
  position: relative;
  top: -5px;
  color: rgba(236, 240, 241,1.0);
  border-radius: 50px;
  padding: 10px;
  background-color: rgba(30,30,30,1);
  margin-left: 20px;
  font-size: 0.5em;
}

#player_content
{
  position: relative;
  width: 100%;
  top: 0px;
  height: auto;
  min-height: 1000px;
  background-color: rgb(20,20,20);
  transition: top 0.4s;
}