@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

.pagination-container {
  margin-top: 40px;
  text-align: center;
}

.pagination-item {
  list-style-type: none;
  display: inline-block;
  border-right: 1px solid rgb(30,30,30);
  transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
  background-color: none;
  color: rgb(30,30,30);
  transition: background-color 0.3s, color 0.3s;
}

.pagination-item:hover {
  background-color: rgba(46, 204, 113, 0.2);
  border-right: 1px solid rgb(30,30,30);
}


.pagination-item.is-active {
  background-color: rgba(46, 204, 113,1.0);
  border-right: 1px solid rgb(30,30,30);
}
.pagination-link,
.pagination-item.is-active .pagination-link {
  color: #fff;
}

.pagination-item.first-number {
  border-left: 1px solid rgb(30,30,30);
}

.pagination-link {
  padding: 1.1em 1.6em;
  display: inline-block;
  text-decoration: none;
  color: rgb(30,30,30);
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
}

.pagination-item--wide {
  list-style-type: none;
  display: inline-block;
}

.pagination-item--wide.first {
  margin: 0 1em 0 0;
}

.pagination-item--wide.last {
  margin: 0 0 0 1em;
}

.pagination-link--wide {
  text-decoration: none;
  color: rgb(30,30,30);
  padding: 1.1em 1.6em;
  transition: color 0.2s;
}

.pagination-link--wide:hover {
  color: rgba(46, 204, 113,1.0);
}

.pagination-link--wide.first:before,
.pagination-link--wide.last:after {
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination-link--wide.first::before {
  content: "\E765";
  margin-right: 0.5em;
}

.pagination-link--wide.last::after {
  content: "\E766";
  margin-left: 0.5em;
}
